{% extends "layout.html" %}
{% block content %}

        <!-- Page Header-->
        {% set fname = 'img/' + get_post.img_file %}
        <header class="masthead" style="background-image: url(' {{url_for('static', filename = fname) }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">  
                            <h1><center>{{get_post.Title}}</center></h1>
                            <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                            <span class="meta">
                                Posted by
                                <a href="#!">Prajwal Kachade</a>
                                on {{get_post.Date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-9 px-lg-10">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{get_post.Content}}
                    </div>
                </div>
            </div>
        </article>

{% endblock %}     